body{
    background-color: #E0E0E2;
}

h1{
    color: #721817;
}
h2{
    color: #721817;
}
.center-text{
    text-align: center;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2 > span {
    color: #FA9F42;
    font-size: 0.75em;
}

#copyright{
    padding-top: 12px;
    font-size: 0.75em;
}
