h1 {
    text-align: justify;
    color: purple;
}

#header1:hover {
    color: green;
}

#blog  > h1 {
  color: blue;

}
.parent {
  border: 4px solid red;
}

.child {
text-align: center;
 width: 50%;
 padding: 20px;
 border: 4px solid green;
 margin: auto;
}
